<aside>
  <div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered"><img src="/doctor/img/fr-11.jpg" class="img-circle" width="80"></p>
      <h5 class="centered"><%= `${user.firstName.toUpperCase()} ${user.lastName.toUpperCase()}`%> </h5>
      <li class="mt">
        <a class="active" href="/doctor/">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
        <a href="/doctor/patient">
          <i class="fa fa-book"></i>
          <span>Patient History</span>
        </a>
      </li>

    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>